html { overflow-y: scroll; }

body{
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}


header{
    font-family: "Roboto", sans-serif;
}

#search-input {
    border-radius: 6px;
    padding: 3px;
}

.url-thumb {
    background-color: #FFF000;
    margin: 5em;
    margin-left: 7em;
    border-radius: 9px;
}

#frame1
{
    left:-3em !important;
}

#search-button
{
    padding-left:1em;
    vertical-align: middle;
}

#nav-search{
    padding: 5px;
    margin-left: .5em;

}

#time{
    border-style: solid;
    border-top-style: solid;
    border-radius: 6px;
    top:-.3em;
    left: -50px;
    vertical-align: middle;
    padding: .3em;
    float: left;
}

#ad-block-alert {
    display: none;
}

.clock{
    vertical-align: center;
}